{{define "head"}}{{end}}
{{define "header"}}{{end}}
{{define "menu"}}{{end}}
{{define "title"}} - {{.GetArgs}}{{end}}
{{define "content"}}

<!--<div id="navigate" style="position: relative;" class="small-push"></div>-->
<!--<span style="background-color:white;position: fixed; bottom:0; right:0;" id="coords"></span>-->
<div class="push"></div>
<div style="text-align: center; font-size: 1.5em; font-weight: bold;">
    {{range .OriginalCommand}}
    <span>{{.Name}}</span>
    {{end}}
</div>
<div class="push"></div>
<div id="bump-fixer">
    <div id="command-wrapper">
        <svg id="canvas">
        </svg>
        <div id="command">
            {{range .Matches}}
            {{if .Name}}
            {{template "outputcommandexplain" .}}
            {{else}}
            <span {{template "spanclasses" .}}>{{.Match}}</span>
            {{end}}{{.Spaces}}
            {{end}}
        </div>
        <div style="height: 5px;"></div>
        <div style="height: 100px;"></div>
    </div>
</div>
<div>
    <table id="help" width="100%">
        <tbody>
            {{range .HelpText}}
            <tr>
                <td>
                    <pre class="help-box" id="{{.ID}}">{{.Text}}</pre>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}
{{define "footer"}}
<div class="push"></div>
<div class="text-center"><small>
        {{range $index, $m := .Matches}}
        {{if and $m.Name (eq $index 0)}}source manpages: {{end}}
        {{if $m.Name}}<a
            href="http://manpages.ubuntu.com/manpages/precise/en/man{{$m.Section}}/{{$m.Source}}.html">{{$m.Name}}</a>{{if
        and (not (eq $index 0)) (not (eq $index (len $.Matches)))}},&nbsp;{{end}}{{end}}
        {{end}}
    </small></div>
{{end}}
{{define "js"}}
{{if .Config.DEBUG}}
<script src="/static/js/d3.v3.min.js"></script>
{{else}}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.1.6/d3.min.js"></script>
{{end}}
<script type="text/javascript">
    var $window = $(window),
        helppres = $('#help pre');

    adjustcommandfontsize();
    currentgroup = initialize();
    navigation();

    $(document).ready(function () {
        // set the query in the top search box from the url. assumes we
        // take a single parameter.
        if (window.location.search.split("&").length == 1) {
            var cmdquery = window.location.search.substr("?cmd=".length);
            $("#top-search").val(decodeURIComponent(cmdquery.replace(/\+/g, ' ')));
        }

        // when #command-wrapper position is changed to fixed, it'll be removed
        // from the normal flow, and everything below it will up. we use this div
        // to prevent that.
        $('#bump-fixer').height($("#command-wrapper").height());

        $('#command-wrapper').affix({
            offset: { top: $('#command-wrapper').offset().top - 10 }
        });

        drawgrouplines(currentgroup.commandselector);

        var throttled = _.throttle(function () {
            draw()
        }, 10);

        $window.scroll(throttled);
        $window.resize(throttled);
    });
</script>
{{end}}