{{define "content"}}
            {{if .D}}
            <div class="small-push"></div>
            <div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>synopsis</th>
                            <th>options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .D.Manpages}}
                        <tr>
                            <td><a href="/explain/{{.Name}}">{{.Name}}</a></td>
                            <td>{{.Synopsis}}</td>
                            <td>{{.Options}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            {{end}}
{{end}}
